.SingleChart {
  width: 60px;
  display: inline-block;
  margin: 10px;
}

.CircularChart {
  width: 60px;
  height: 60px;
}

.CircleBg {
    fill: none;
    stroke: #000;
    stroke-width: 3.8;
}

.Circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

.CircleGreen {
  stroke: #1caa09;
}

.CircleYellow {
  stroke: #ff9f00;
}

.CircleRed {
  stroke: #ff1500;
}

.TextPercentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}
