.MovieSection {
    overflow: hidden;
    position: relative;
}

.MovieSection:hover .ArrowRight, .MovieSection:hover .ArrowLeft {
    opacity: 1;
}

.ArrowLeft {
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(20,20,20,.5);
    opacity: 0;
}

.ArrowLeftHidden {
    display: none;
}

.ArrowRight {
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(20,20,20,.5);
    opacity: 0;
}

.ArrowRightHidden {
    display: none;
}


.CardImage {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 330px;
    animation-name: zoomOutToCard;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.CardImage img {
    width: 330px;
    height: 440px; 
    
}

.CardImage:hover {
    animation-name: zoomInToCard;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.CardContainer{
    display: flex;
}

@keyframes zoomInToCard {
    from {transform: scale(1);}
    to{transform: scale(1.2);}
  }

@keyframes zoomOutToCard {
    from {transform: scale(1.2);}
    to{transform: scale(1);}
  }