:global {
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Quicksand:wght@500|Varela+Round&display=swap");

  @import "./variables.scss";

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    min-height: 100%;
    height: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  body {
    font-family: "Quicksand", sans-serif;
    /* font-family: "Varela Round", sans-serif; */
    color: $third-color;
    line-height: 1.5;
  }

  hr {
    border: 1px solid #f4f4f4;
    margin: 2.5rem 0;
  }

  a {
    color: $link-color;
    font-size: 1rem;
    text-decoration: none;
    &:hover {
      color: darken($link-color, $darkenPercentLink);
    }
  }

  :focus {
    outline: 0;
  }

  @each $status, $color in $status-colors {
    .bg--#{$status} {
      color: #fff;
      background-color: #{$color};
    }

    .txt--#{$status} {
      color: #{$color};
    }

    .border--#{$status} {
      border-color: #{$color};
    }
  }

  @each $type, $size in ("sm": $font-sm, "lg": $font-lg, "xl": $font-xl) {
    .font--#{$type} {
      font-size: #{$size};
    }
  }

  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  $spaces: 10;
  @for $i from 1 through $spaces {
    .margin-#{$i*5} {
      margin: $i * 5px;
    }
    .margin-top-#{$i*5} {
      margin-top: $i * 5px;
    }
    .margin-left-#{$i*5} {
      margin-left: $i * 5px;
    }
    .margin-right-#{$i} {
      margin-right: $i * 5px;
    }
    .margin-bottom-#{$i*5} {
      margin-bottom: $i * 5px;
    }
    .padding-#{$i*5} {
      padding: $i * 5px;
    }
    .padding-top-#{$i*5} {
      padding-top: $i * 5px;
    }
    .padding-left-#{$i*5} {
      padding-left: $i * 5px;
    }
    .padding-right-#{$i*5} {
      padding-right: $i * 5px;
    }
    .padding-bottom-#{$i*5} {
      padding-bottom: $i * 5px;
    }
  }

  .txt--disabled {
    color: $txt-disabled-color;
  }

  .txt--center {
    text-align: center;
  }

  .txt--right {
    text-align: right;
  }

  .font--medium-bold {
    font-weight: 500;
  }

  .font--bold {
    font-weight: bold;
  }

  .form {
    .form__field {
      input {
        margin: 0.5rem 0;
      }
      margin: 1.2rem 0;
    }
    &--large {
      input {
        width: 100%;
      }
    }
  }

  .logo-globant-sm {
    width: 100px;
  }

  .full-height {
    height: 100%;
    height: 100vh;
  }

  .bg-decoration {
    width: 2vmax;
    height: 5vmax;
    position: absolute;
    &.bg-decoration--green {
      background-color: $first-color;
      top: 0;
      left: 0;
    }
    &.bg-decoration--gray {
      background-color: $third-color;
      bottom: 0;
      right: 0;
    }
  }

  .flex--column {
    display: flex;
    flex-direction: column;
  }

  .flex--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex--around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .flex--evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @media screen and (min-width: $breakpoint-xs) {
    body {
      font-size: 18px;
    }
  }
}
