@font-face {
    font-family: "SigmarOne";
    src: local("SigmarOne"),
     url("./assets/fonts/SigmarOne-Regular.ttf") format("truetype");
   }

body {
    background-color: #141414;
    color: #FFFFFF;
}
